# Github access
YAMFRPG_USERNAME=<your Github username>
YAMFRPG_ACCESS_TOKEN=<your Github access token for the YAMFRPG projects>

# PostGreS
YAMFRPG_POSTGRES_HOST=postgres
YAMFRPG_POSTGRES_USERNAME=postgres
YAMFRPG_POSTGRES_PORT=5432
